*
{
    background-color: #201616;
    color: white;
    box-sizing: border-box;
}


h1
{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#container
{
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    width: 480px;
    height: 480px;
}

.grids{
    background-color: white;
    border: 1px solid black;
    width: calc(100%/16);
    height: calc(100%/16);
}

button
{
    background-color: rgb(47, 91, 3);
    color: white;
    height: 30px;
    width: 90px;
    margin: 20px;
    border: 2px solid white;
    border-radius: 12px;
    cursor: pointer;
}
button:hover
{
    background-color: rgb(47, 1, 90);
}

#buttons
{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
